.image-wrapper {
  max-width: 90vw;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin-top: 200px;
  margin-left: 50px;
}
.slika {
  height: 15vw;
  transition: all 0.8s;
  /* transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  border-radius: 50%;
}
.veca-slika {
  /* height: 20vw; */
  transform: scale(1.5);
  border-radius: 5%;
}
